<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span
      style="padding: 1.12%; letter-spacing: 2px; font-family: 'Helvetica Neue', serif; font-size: 30px;">
      <h1>KAFAS</h1>
    </span>
    <div class="mat-caption">Helpline</div>
    <span class="mat-caption">+48 123 456 789</span>

    <app-language-selector></app-language-selector>
    <app-app-searcher class="searcher-wrapper-mobile"></app-app-searcher>
    <button mat-flat-button color="primary" class="cart_button">
      <mat-icon>shopping_cart</mat-icon>
      <span class="mat-caption">Cart</span>
    </button>
    <a mat-button>
      <mat-icon>account_circle</mat-icon>
      <span class="mat-caption">Account</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button  style="margin: 5px" color="accent" mat-raised-button class="bottom-nav-button">
        <span>Products</span>
      </button>
      <button  style="margin: 5px" color="accent" mat-raised-button class="bottom-nav-button">
        <span>Cart</span>
      </button>
      <button  style="margin: 5px" color="accent" mat-raised-button class="bottom-nav-button">
        <span>Contact</span>
      </button>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <mat-grid-list class="main-wrapper" cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
           <h2>1</h2>
           <h2>1</h2>
           <h2>1</h2>
           <h2>1</h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>2</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>1</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>2</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>1</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>2</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>1</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>2</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>1</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>2</mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<footer style="margin-top: 1000px">
  <div id="btmFooter">
    <p>Basic Footer</p>
  </div>
</footer>

