.app-container
  background-color white

.app-sidenav
  width 300px
.searcher-wrapper-mobile
  width 50%
  display flex
  margin-left 5%
  margin-right  5%
footer
  background-color #ddd
  border-top 1px solid #bbb
  text-align center

.search-form
  box-sizing border-box
  display flex

.home-carousel
  border

.main-wrapper
  margin: 1%
.helpline-header
  margin-left 2%
  .helpline-item
    padding 3px

.row {
  display: flex;
}

.column {
  flex: 50%;
}
