<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>KAFAS</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-raised-button class="example-icon">
        <span>Products</span>
      </button>
      <button mat-raised-button class="example-icon">
        <span>Cart</span>
      </button>
      <button mat-raised-button class="example-icon">
        <span>Contact</span>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
</p>

  <div class="main-wrapper">
    <p><mat-card>Witamy na stronie</mat-card></p>

    <p><mat-card>Zapoznaj się z ofertą</mat-card></p>

    <p><mat-card>Nasza firma</mat-card></p>

    <p><mat-card>Bramy</mat-card></p>

    <p><mat-card>Materiały</mat-card></p>

    <p><mat-card>Krzewy</mat-card></p>
  </div>




