.searcher-label
  display flex
  height 30px
  background-color white
  border-radius 8px
  width 100%

.searcher-icon-wrapper
  display flex
  border-radius 8px
  align-content center

.icon-button
  vertical-align center
  display inline-block
  color black
  padding-bottom 5px

.searcher-input
  width 100%
  border-radius: 4px
  border-color transparent

.searcher-input:focus
  outline: none;
