.footer
  padding-left 5%
  padding-right 5%
  padding-top 5%
  padding-bottom 5%
  .footer-widget
    padding-right: 15px
    .social
      margin-top: 20px
      li
        list-style-type none
        width: 33px
        height: 33px
        border: 1px solid $grey4
        border-radius: 50%
        text-align: center
        margin-right: 5px
        a
          i
            color: $theme-main-dark

    .ped-btn-footer
      box-shadow: none !important
      cursor: pointer
      display: inline-block
      font-size: 14px
      font-weight: 700
      margin-top: 20px
      padding: 0px 10px
      text-align: center
      text-transform: uppercase
      transition: all 0.4s ease 0s
      z-index: 222
      border-radius: 3px
      line-height: 45px

    .title
      h5
        font-size: 18px
        font-weight: 600
      a
        text-decoration: none
        font-size: 15px
        line-height: 32px
        color: $font-color

      .newsletter-widget
        position: relative
        margin: 15px 0 20px 0
      p
        line-height: 24px
        color: $font-color
      ul
        list-style-type: none

      .about-widget
        .logo
          img
            max-width: 240px

      .tel-box
        .icon
          i
            color: $theme-main-dark
            display: block
            line-height: 27px
            vertical-align: middle
            margin-right: 5px
            width: 18px
            text-align: center
            font-size: 18px

        .text
          p
            a
              line-height: 22px

