.footer
  background-color whitesmoke
  padding-left 5%
  padding-right 5%
  padding-bottom 5%
  @media (max-width: 1000px) {
    padding-bottom 30%
  }
  .footer-widget
    padding-top 25px
    .ped-btn-footer
      box-shadow: none !important
      cursor: pointer
      display: inline-block
      margin-top: 20px
      padding: 0px 10px
      text-align: center
      text-transform: uppercase
      transition: all 0.4s ease 0s
      z-index: 222
      border-radius: 3px
      line-height: 45px

    .title
      h5
        font-size: 18px
        font-weight: 600
      a
        text-decoration: none
        font-size: 15px
        line-height: 32px

      .newsletter-widget
        position: relative
        margin: 15px 0 20px 0
      p
        line-height: 24px
      ul
        list-style-type: none

      .about-widget
        .logo
          img
            max-width: 240px
      .tel-box
        .icon
          i
            display: block
            line-height: 27px
            vertical-align: middle
            margin-right: 5px
            width: 18px
            text-align: center
            font-size: 18px
        .text
          p
            a
              line-height: 22px
