
.logo
  cursor: pointer;
  font-size: 32px;
  letter-spacing: 2px;


.background-color-white
  background-color white

footer
  background-color #ddd
  border-top 1px solid #bbb
  text-align center

.search-form
  box-sizing border-box
  display flex


.phone-menu-top
  padding 5px 5px 0 5px
  h2
    padding-bottom 0
    margin-bottom 0

.phone-menu-bottom
  padding 5px 5px 0 5px
  h2
    padding-bottom 0
    margin-bottom 0

.toolbarNav{
  position: fixed;
  bottom: 0;
  padding: 2em 1em 2em 1em;
  z-index 1000
  background-color: white;
}
.chosenButton {
  border-style: solid;
  border-width: 1px;
  border-color: #ffb300;
  background-color: #eaeded;
}
