.sidenav-container {
  min-height 100vh;
  background: #eee;
}
a:hover
  border-bottom: 3px solid #ffb300;

a.active
  border-bottom: 3px solid #ffb300
  span
    font-weight bold

.sidenav
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
.padding-8
  padding-bottom: 8px;
