.right-sidebar-wrapper {
  .all-products {
    background: transparent;
    .col {
      .product-item {
        .mat-card:not([class*=mat-elevation-z]) {
          box-shadow: none !important;
          background: transparent;
          .product-info-wrapper  {
            .price-wrap {
              p {
                color: $white-1;
              }
            }
          }
        }
      }
    }
    select {
      color: $white-1;
    }
    input {
      color: $white-1;
    }
  }
  .filter-row {
    border-bottom: 1px solid #3c3c3c;
    border-top: 1px solid #3c3c3c;
  }
  .mat-expansion-panel {

    border: 1px solid #3c3c3c;
    span {
      color: $white-1;
    }
  }
  .no-shadow {
    background: transparent;
  }
}
