a
  display flex
  max-width 100px
img
  display inline-block
  width 25%
  height 25%
  vertical-align center
.selector-menu-bar
  sdisplay inline-block
  vertical-align center
mat-icon
  display inline-block
  vertical-align center
