.product-item {
  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
    background: transparent;
    .product-info-wrapper  {
      .price-wrap {
        p {
          color: white
        }
      }
    }
  }
}
