.empty-cart-wrapper
    margin 5vw
    min-height 60vh

.min-height
  min-height 75vh

.text-align-center{
  text-align center
}
.cart-image
  width 10vw
  max-height 75px
  max-width 75px
table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
th{
  font-weight: bold;
}
.padding-30{
  padding-left 30px
}
