<mat-drawer-container class="app-container" autosize>
  <mat-toolbar class="mobileToolBar" color="primary">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
     <h1 style="padding: 1.12%; letter-spacing: 2px; font-family: 'Helvetica Neue', serif; font-size: 24px">
        KAFAS
     </h1>
    </span>
    <span class="example-spacer"></span>
    <app-language-selector></app-language-selector>
    <div class="helpline-header">
      <span class="mat-headline helpline-item">Helpline</span>
      <span class="mat-headline helpline-item">+48 123 456 789</span>
    </div>
  </mat-toolbar>
  <mat-toolbar class="mobileToolBar" color="primary">
      <app-app-searcher class="searcher-wrapper-mobile"></app-app-searcher>
  </mat-toolbar>
  <mat-drawer #drawer class="app-sidenav" mode="over">
    <mat-nav-list>
      <mat-list-item class="app-item-list-wrapper" (click)="drawer.toggle()">
        <span style="padding: 1.12%; letter-spacing: 2px; font-family: 'Helvetica Neue', serif; font-size: 24px" >KAFAS</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span>Cart</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Products</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Contact</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <div class="content">
    <p><mat-card>Witamy na stronie</mat-card></p>
    <p><mat-card>Zapoznaj się z ofertą</mat-card></p>
    <p><mat-card>Bramy</mat-card></p>
    <p><mat-card>Materiały</mat-card></p>
    <p><mat-card>Krzewy</mat-card></p>
  </div>
</mat-drawer-container>


