.products-wrapper{
  padding-left 15%
  padding-right  15%
}
.product-box{
  padding 9px
}
.spinner-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}
.inner {
  padding: 12px;
}
.product-image{
  cursor pointer
}
