<div class="dashboard-wrapper">
  <div fxLayout="row" fxLayout.lt-sm="column wrap" style="padding-right: 10%; padding-left: 10%" fxLayoutGap="10px">
    <mat-card fxLayout="column" fxFlex="100" fxLayoutAlign="stretch stretch">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="primary">local_offer</mat-icon>
        </div>
        <mat-card-title>Sklep z materiałami</mat-card-title>
        <mat-card-subtitle>Materiały budowlane</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Skorzystaj z naszego sklepu.
          Importujemy  najwyższej jakości materiały budowlane z całego świata.
          Tylko u nas rzadkie egzotytczne drewno dekoracyjne.
          Odwiedź sklep i zamów, przekonaj się o jakości.
        </p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center">
        <button [routerLink]="['/products']" color="primary" mat-raised-button>Odwiedź</button>
      </mat-card-actions>
    </mat-card>
    <mat-card fxLayout="column" fxFlex="100" fxLayoutAlign="stretch stretch">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="primary">handyman</mat-icon>
        </div>
        <mat-card-title>Remonty</mat-card-title>
        <mat-card-subtitle>Brief</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Wyremontuj z nami dom swoich marzeń.
          Wypełnij formularz a wycenimy twój projekt i skontakujemy się z Tobą.
          Wykonujemy zlecenia razem z najlepszymi specjalistami z branży budowlanej.
        </p>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center">
        <button color="primary" (click)="showResorationForm()" mat-raised-button>Zamów</button>
      </mat-card-actions>
    </mat-card>

    <mat-card fxLayout="column" fxFlex="100" fxLayoutAlign="stretch stretch">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon color="primary">home</mat-icon>
      </div>
      <mat-card-title>Nieruchomości</mat-card-title>
      <mat-card-subtitle>Oferujemy mieszkania pod wynajem.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Posiadamy nieruchomości w interesujących lokalizacjach.
        Przekładamy zadowolenie klienta ponad zysk, żeby przenieść poziom deweloperski ponad standard.
        Zapraszamy do obejrzenia naszych aktualnych nieruchomości.
      </p>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center">
      <button disabled [routerLink]="['products']" color="primary" mat-raised-button>Zobacz</button>
    </mat-card-actions>
    </mat-card>
  </div>
  <div style="padding-right: 10%; padding-left: 10%">
  <mat-card  [style.height]="parentHeight">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon color="primary">star</mat-icon>
      </div>
      <mat-card-title>Nasze projekty</mat-card-title>
    </mat-card-header>
    <mat-carousel
      style="margin: 5px"
      #matCarousel
      [timings]="timings"
      [autoplay]="autoplay"
      [interval]="interval"
      [loop]="loop"
      [hideArrows]="hideArrows"
      [hideIndicators]="hideIndicators"
      [color]="color"
      [maxWidth]="maxWidth"
      [proportion]="proportion"
      [useKeyboard]="useKeyboard"
      [useMouseWheel]="useMouseWheel"
      [orientation]="orientation"
      [slides]="slides"
      [maintainAspectRatio]="maintainAspectRatio"
      [slideHeight]="slideHeight"
      (change)="onChange($event)">
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slidesList; let i = index"
        [overlayColor]="overlayColor"
        [hideOverlay]="hideOverlay">
        <div fxFlexFill fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50">
            <h2 style="margin-bottom: 5px">{{slidesList[i].title}}</h2>
            <div fxLayout="row" fxLayoutAlign="center center" [fxShow.lt-md]="false">
              <p fxFlex="50">
                {{slidesList[i].description}}
              </p>
            </div>
          </div>
          <div fxFlex="50">
            <div>
              <img style="width: 100%" src="../../../assets/home-cards/placeholder.jpg" alt="Photo of a gate">
            </div>
          </div>
        </div>
      </mat-carousel-slide>
    </mat-carousel>
  </mat-card>
  </div>
</div>
