.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container{
  height: 100%;
}

.app-item-list-wrapper{
  vertical-align: middle;
}
.app-backspace-icon{
  font-size 50px
}
