<mat-drawer-container class="app-container" autosize>
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>KAFAS</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  <mat-drawer #drawer class="app-sidenav" mode="over">
    <mat-nav-list>
      <mat-list-item class="app-item-list-wrapper"(click)="drawer.toggle()">
          <span><mat-icon class="app-backspace-icon">keyboard_backspace</mat-icon></span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <span>Cart</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Products</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Contact</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <p><mat-card>Witamy na stronie</mat-card></p>

    <p><mat-card>Zapoznaj się z ofertą</mat-card></p>

    <p><mat-card>Nasza firma</mat-card></p>
  </div>

  <p><mat-card>Bramy</mat-card></p>
  <p><mat-card>Materiały</mat-card></p>
  <p><mat-card>Krzewy</mat-card></p>

</mat-drawer-container>


