.register-view-outside-wrapper
  background-color
.register-view-inside-wrapper
  background-color whitesmoke
  padding 3%
mat-form-field
  width: 100%
  max-width 400px
.mat-form-field-flex
  background-color white
span
  width: 100%
  max-width 400px
/* Border */
