.product-wrapper {
  display: grid;
  // grid-template-rows: 150px 150px;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: 150px 150px 150px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  .product-box {


    .product-item {
      position: relative;
      overflow: hidden;

      // transition: all .5s ease;
      mat-card {
        padding: 0;
        box-shadow: none;
        border: 1px solid $grey6;
        .product-img {
          text-align: center;
          cursor: pointer;
          img {
            max-width: 180px;
          }
        }
        .product-info-wrapper {
          background: #f9f9f9;
          padding: 15px;
          .category {
            text-align: left;
            font-weight: 400;
            color: $grey7;
          }
          .title-wrap {
            margin: 7px 0;
            h4 {
              font-size: 21px;
              margin: 0;
            }
            p {
              font-size: 21px;
              font-family: 'Gelasio', serif;
              font-weight: 600;
              margin: 0;
            }
          }
          .stars {
            .mat-icon {
              font-size: 20px;
              height: 22px;
              width: 22px;
              color: $theme-main;
            }
          }
          .btn-wrap {
            margin-top: 10px;
            .view-more {
              font-weight: 500;
              color: $grey7;
              cursor: pointer;
            }
            a {
              cursor: pointer;
              .mat-icon {
                color: var(--theme-deafult) !important;
              }

            }
            .bucket {
              width: 38px;
              height:38px;
              border-radius: 50%;
              background: #dedede;
              text-align: center;
              vertical-align: middle;
              line-height: 49px;
              //   box-shadow: none;
              //   cursor: pointer;
              a {

                mat-icon {

                }
              }
            }

          }
          .details-products {

            .more-info {
              margin-top: 15px;
              overflow: hidden;
              p {
                line-height: 24px;
              }
            }
          }
          .icons {
            position: absolute;
            top: 30px;
            right: -10px;
            opacity: 0;
            // transition: all .6s ease;
            mat-icon {
              color: $grey4;
              cursor: pointer;
            }
          }

        }
        &:hover {
          .icons {
            opacity: 1;
            transition: all .4s ease;
            transform: translateX(-20px);
            .ic-1 {
              animation-delay: 2s;
            }
            .ic-2  {
              animation: .5s ease-in-out fadeInRight;
            }
            .ic-3  {
              animation: .7s ease-in-out fadeInRight;
            }
          }
        }
      }

    }
  }
}/* You can add global styles to this file, and also import other style files */

