.logo
  cursor: pointer;
  font-size: 32px;
  font-family: 'Helvetica Neue',serif ;
  letter-spacing: 2px;
  padding: 1.12%;

.background-color-white
  background-color white

.side-bar-toggle
  display none

@media (max-width: 1280px)
  .side-bar-toggle
    display inline-block


footer
  background-color #ddd
  border-top 1px solid #bbb
  text-align center

.search-form
  box-sizing border-box
  display flex


.phone-menu-top
  padding 5px 5px 0 5px
  h2
    padding-bottom 0
    margin-bottom 0

.phone-menu-bottom
  padding 5px 5px 0 5px
  h2
    padding-bottom 0
    margin-bottom 0

